* {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
} 

body {
    background: hsl(233, 47%, 7%);
    padding: 12em 10em;
}

main {
    display: flex;
    background-color:  hsl(244, 38%, 16%);
}

section {
    padding: 5em;
    /* width: 70%; */
}

nav {
    display: flex;
}


















aside h1 {
    color:  hsl(0, 0%, 100%);
    font-size: 1.3rem;
    font-weight: 700;
    line-height: ;
    margin-bottom: 2em;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 6.8em;
}

span {
    color: hsl(277, 64%, 61%)
}

nav h1 {
     color: hsla(0, 0%, 100%, 0.6);
}


/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }  */